.audio{
	background-image: url(../img/1page-img.jpg);
	font-size: 1.2em;
	padding: 8% 30% 10%;
	border-top: 2px solid rgb(220,62,249);
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	color: white;
}

.box-text {
	background-color: rgba(0, 0, 0, 0.4);
	padding: 8%;
}

.box-text p {
	padding: 4% 0;
	color: white;
}

.notice {
	padding: 7% 12%;
	font-size: 1.2em;
	background-color: rgb(0,0,0);
	margin:0px;
	background-image: url(../img/vinilo.png);
	background-repeat: no-repeat;
	background-size: 15vw;
}


.notice h2 {
	border-bottom: 1px solid gray;
	padding-bottom: 10%;
	margin-bottom: 10%;
	text-align: center;
}

.notice .col-4 {
	padding: 0 5%;
	color: rgb(151, 154, 159);
}

.audio-dance h1{
	color: #fff;
}

.audio-dance {
	padding: 7% 10%;
	background-color: rgba(255,21,255, .9);
	background-image: url(../img/dark-tl.svg), 
                    url(../img/dark-tr.svg), 
                    url(../img/dark-bl.svg), 
                    url(../img/dark-br.svg);
	margin: 0 -14px;
	font-size: 1.6em;
	text-align: center;
}

.audio-dance .col-3 {
	padding-top:2%;
}

.audio-dance .col-3 .img {
	background-color: rgb(83, 88, 95);
	height: 178px;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.audio-dance .img img {
	width: 100%;
}

.audio-dance .texto {
	padding: 7% 1%;
	text-align: left;
}
.audio-dance .texto p {
	font-size: 18px;
	padding-top: 6%;
}

#drop{
	border-radius: 50%;
	width: 300px;
	height: 300px;
	background-color: black;
	position: relative;
	margin-left: 418px;
	border:13px solid rgb(192,7,114);
	margin-bottom: 30px;
}
#seccionPrimera{
	text-align: center;
	padding: 100px 0;
	background-color: black;
}
#drop p{
	color:#fff;
	font-size: 40px;
	word-wrap: break-word;
	position: absolute;
	text-align: center;
	top: 80px;
}
.discos{
	background-size: 200px 200px;
	width: 200px;
	height: 200px;
	display: inline-block;
	border-radius: 50%;
	margin: 10px;
	border: 3px solid rgb(192,7,114) ;
}
#drag1{
	background-image: url(../img/pop.jpg);
}
#drag2{
	background-image: url(../img/pop.jpg);
}
#drag3{
	background-image: url(../img/pop.jpg);
}
#drag4{
	background-image: url(../img/pop.jpg);
}
#drag5{
	background-image: url(../img/pop.jpg);
}
#drag6{
	background-image: url(../img/pop.jpg);
}

.img{
	max-width:100%; 
	height: 200px;	
	display: flex;
}


.hidden{
	display: none;
}